:root {
  --background-violett: rgb(83, 49, 90);
  --background-bright: rgba(116, 95, 72, 0.4);
  --color-green: #37af65;
}

body {
  background-color: var(--background-violett);
}
.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}
form {
  background: var(--background-bright);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

/* Dieser Code schein mit CSS Flexbox gemacht zu sein. 
Ich muss es mir wohl nochmal ansehen. */

  label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
.text-center {
  text-align: center;
}
  .submit-button {
/*     display: block; */
    width: 100%;
    background: var(--color-green);
    cursor: pointer;
}